.bundle
.DS_Store
db/*.sqlite3
db/data.yml
log
log/*.log
log/*.log.lck
tmp/*
tmp/**/*
.idea/**/*
.idea
.autotest
public/system/**/*
pg
.sass-cache/
results
results/**/*
coverage
coverage/**/*
public/assets
public/assets/**/*
solr/data
solr/pids
/nbproject
